.RelevantData {
  position: absolute;
  top: 60px;
  left: 10px;
  width: 100%;
  height: 100%;
  background-color: #fff9d0;
  span {
    display: block;
    font-weight: 900;
    text-transform: uppercase;
    width: 86%;
    border-bottom: 1px solid #294055;
  }
  ul{
    padding-left: 20px;
    li{
      list-style: none;
      line-height: 1.8em;
    }
    li:before{
        content: '\25BA';
        display: inline-block;
        color: #ffc361;
        margin-right: 10px;
    }
  }
}
