.MessageBar {
   display: flex;
   position: absolute;
   bottom: 0px;
   padding: 10px 0 10px 0;
   width: 100%;
   height: 50px;
   background-color: #ffffff;
   align-items: center;
   justify-content: space-around;
   border-top: #7e8583 solid 1px;
  &__container {
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    border-right: #7e8583 solid 1px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .Node {
    max-height: 40px;
    max-width: 40px;
    flex: 0 0 auto;
  }
}
