.App {
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: #fff9d0;
  &__nodes {
    height: 80%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
  }
  &__nav {
    position: absolute;
    top: 0;
    padding-top: 10px;
    height: 40px;
    width: 100%;
    .close,
    .previous {
      position: absolute;
      left: 10px;
    }
    .info {
      position: absolute;
      right: 10px;
    }
    .NavText {
      position: absolute;
      font-size: 1.8em;
      font-weight: 800;
      margin-left: 60px;
    }
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #294055;
}
