.Slider {
    display: block;
    width: 10rem;
    height: 10rem;
    transform: rotate(-90deg);
    cursor: ns-resize;
}
.Slider-circle,
.Slider-bar {
    fill: transparent;
}
.Slider-circle {
    stroke: #ffc361;
}
.Slider-bar {
    stroke: #FF0000;
    stroke-dashoffset: 0;
    stroke-dasharray: 0;
}
