.Node {
	display: flex;
	align-items: center;
	border-radius: 50%;
	background-color: #ffc361;
	height: auto;
	width: 100%;
	padding: 6px;
	margin: 5px;
	&:before {
		content:'';
		float:left;
		padding-top:100%;
	}
	img {
		max-width: 70vh;
    margin: 0px auto;
    max-height: 100px;
	}
  &.patient,
  &.doctor {
    img {
      max-height: unset;
    }
    &:after {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: -20px;
      right: auto;
      top: 0px;
      bottom: auto;
      border: 22px solid;
      border-color: lightyellow transparent transparent transparent;
    }
  }
	&.doctor:after {

	}
}
